.main
{
  background: white;
  width:79%;
  height:100%;
  margin:180px 0 0 330px;
  
  position: absolute;
}

.horizontal-list
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    
}
.horizontal-list .item1
{
    background:white;
    width:580px;
    color:black;
    box-shadow: 0 0 20px rgba(0,0,0,.3);

}
.horizontal-list .item2
{
    background:white;
    width:310px;
    color:black;
    box-shadow: 0 0 20px rgba(0,0,0,.3);

}
.horizontal-list .item3
{
    background:white;
    width:580px;
    color:black;
    box-shadow: 0 0 20px rgba(0,0,0,.3);

}
.sub-main{
    margin:30px 20px 0 20px;
}
.sub-main p{
 text-align: justify;
}

