.table{
    display: table;
    border: 3px solid #c1c1c1;
    border-collapse: collapse;
    margin:auto ;
    margin-top:30px;
    width:100%
   
}

.table > div{
    display: table-row;
    color:#666666;
}

.table > div > span{
    display: table-cell;
    border-block: 1px solid  #c1c1c1;
    padding: 10px;
   
}
.table-head
{
    
    font-size: 18px;
}